    .signup{
      background-color: #D3455B;
      width: 100%;
      height: 100vh;
      padding-top: 50px;
    }
    .signup-form {
      max-width: 450px;
      margin: auto;
      padding: 30px;
      background: white;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      background-color: rgb(237, 162, 162);
      
    }